.form {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid grey;
  border-radius: 8px;
}

.label {
  display: flex;
  align-items: baseline;
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 28px;
  background-color: transparent;
}
.input__name {
  width: 100px;
}
.input__data {
  margin: 0;
  width: 100%;
  /* width: 300px; */
  padding: 4px;
  font-size: 20px;
  outline: 2px solid #ffffff;
  border: 1px solid grey;
  border-radius: 5px;
  background-color: #ffffff;
  color: #212121;
  transition: all cubic-bezier(0.25s, 0.7, 0.98, 0.86) 0s;
}
.input__data:focus {
  outline: 1px solid #808080;
}

.add__button {
  display: block;
  font-size: 20px;
  margin-top: 16px;
  margin-left: auto;

  transition: all cubic-bezier(0.25s, 0.7, 0.98, 0.86) 0s;
  cursor: pointer;
  padding: 4px 16px 4px;
  text-transform: capitalize;
  color: rgb(10, 10, 145);
  background-color: gainsboro;
  border-radius: 4px;
  border: 1px solid grey;
  font-weight: 600;
  box-shadow: 1px 1px 2px rgb(171, 168, 168);
  transition: background-color 250ms linear;
}

.add__button:hover,
.add__button:focus {
  background: rgb(240, 240, 240);
  box-shadow: 0px 3px 10px 3px grey;
}
.field {
  position: relative;
  width: 100%;
}
.error__message {
  position: absolute;

  margin: 0;

  font-size: 12px;
  color: rgb(248, 162, 162);
}
